.git
.gitignore
.DS_Store

node_modules
**/node_modules

.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

android/build
android/app/build
ios/build
ios/Pods

web/.next
web/node_modules
electron/node_modules

coverage
tmp
*.log

.knowns
